@charset "utf-8";

*{
  scroll-behavior: smooth;
}

a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.link_item:hover{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);

  text-decoration: none;
  color: #007BFF;
}

.boldText{
  margin-top: 3px;
  font-weight: 650;
}

.whiteFont{
  color: rgba(255, 255, 255, 0.75);
}

.blackFont{
  color: rgba(0, 0, 0, 1);
}

.background{
  background-color: #fff;
  padding: 1rem;
}

.marginAll{
	margin: 20px 0;
}

.footerSize{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.nav-link:hover{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); 
}

.zoom:hover{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;

  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.zoomButton:hover{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.centerImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.boldFont{
	font-weight: 700;
}

.buttonFont{
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 0.9rem;
}

.space{
	margin: 0 15px;
}

.marginsTop{
  margin-top: 1rem;
}

.marginsBottom{
  margin-bottom: 1rem;
}

.minFont{
  font-size: 13px;
}

.populerFontSide{
  font-size: 1px;
}

.left{
  text-align: left;
}

.right: {
  text-align: right;
}

.content {
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.content img {
  margin-right: 25px;
  float: left;
}

.content h4,
.content p{
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
}

.blueImage:hover{ 
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.textUnResize{
  resize: none;
}

.minMT{
  margin-top: -4px;
}

.minRNL{
  margin-left: -16px; 
  margin-right: -16px;
}

.verticalLine {
  border-left: 3px solid green;
  height: 500px;
}

.visible-false{
  display: none;
}

.visible-true{
  display: inline;
}

.activeButton{
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.minMR-2{
  margin-right: -2.5rem;
}

.minML-2{
  margin-left: -2.5rem;
}

.imageBoxed {
  cursor: pointer;
  height: 91px;
  position: relative;
  overflow: hidden;
  width: 161px;
  text-align:center;
}

.imageBoxed .fadedBoxed {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 161px;
  height: 91px;
  padding-top: 33px;
}

.imageBoxed:hover .fadedBoxed { opacity: 0.8; }
.imageBoxed .text {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

.imageBoxed .title {
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}

.imageBoxed:hover .title,
.imageBoxed:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

